/*Reset básico*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}
/*Layout principal com Grid*/
main{
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    min-height: 100vh;
}
/*Configurando a figura com flexbox*/
figure{
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #f0f0f0;
}
/*Configurando a imagem*/
#logo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 16px;
    align-self: center;
}
/*Configurando o texto da imagem*/
figcaption{
    margin-bottom: 12px;
    text-align: left;
}
/*Configurando da seção da direita*/
section{
    padding: 32px;
    background-color: #f0f0f0;
}
article{
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 24px;
    background-color: #fff;
}
article h3{
    margin-bottom: 12px;
}
article p{
    line-height: 1.5;
}
/*Configurando a responsividade*/
@media (max-width: 768px){
    main{
        grid-template-columns: 1fr;
    }
    figure{
        width: 100;
        padding: 20px;
    }
}
